<div class="flex justify-center items-center">
  <mat-form-field floatLabel="always" class="p-10">
    <mat-label>Rate</mat-label>
    <input matInput
           placeholder="Rate"
           type="number"
           [ngModel]="fixedRate$ | async"
           (ngModelChange)="updateFixedRate($event)"
    >
  </mat-form-field>

  <button mat-stroked-button
          aria-label="Save rate"
          (click)="useFixedRate()"
          [disabled]="rateInvalid$ | async"
          class="mb-5"
  >
    Use Rate
  </button>
</div>
