<mat-form-field floatLabel="always" class="p-10">
  <mat-label>Amount</mat-label>
  <input matInput
         placeholder="Amount"
         type="number"
         [ngModel]="amount$ | async"
         (ngModelChange)="updateResult($event)"
  >
  <div matTextSuffix>{{source$ | async}}</div>
</mat-form-field>

<button mat-fab
        aria-label="Swap currency"
        (click)="onSwap()"
>
  <mat-icon aria-hidden="false"
            aria-label="Swap"
            fontIcon="swap_horiz"
  />
</button>

<mat-form-field floatLabel="always" class="p-10">
  <mat-label>Result</mat-label>
  <input matInput
         placeholder="Result"
         type="number"
         [ngModel]="result$ | async"
  >
  <div matTextSuffix>{{destination$ | async}}</div>
</mat-form-field>
