<mat-form-field floatLabel="always" class="p-10">
  <mat-label>Value</mat-label>
  <input matInput
         placeholder="Value"
         type="number"
         [ngModel]="value$ | async"
  >
  <div matTextSuffix>{{source}}</div>
</mat-form-field>

<button mat-fab
        aria-label="Swap currency"
        (click)="onSwap()"
>
  <mat-icon aria-hidden="false"
            aria-label="Swap"
            fontIcon="swap_horiz"
  />
</button>

<mat-form-field floatLabel="always" class="p-10">
  <mat-label>Result</mat-label>
  <input matInput
         placeholder="Result"
         type="number"
         [ngModel]="result$ | async"
  >
  <div matTextSuffix>{{destination}}</div>
</mat-form-field>
